@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



.main_introduce {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #1a73e8;
  color: #fff;
  font-family: 'Cafe24Ssurround';
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main_banner{
  object-fit: none;
  height: 500px;
}

.introduce_first {
  font-family: 'Cafe24Ssurround';
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin: 0;
  margin-top: 180px;
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.introduce_second {
  font-family: 'Cafe24Ssurround';
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin: 0;
  margin-top: 20px;
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}


@media screen and (max-width: 500px) {
  .main_introduce {
    height: 300px;
  }

  .main_banner{
    height: 300px;
  }

  .introduce_first {
    margin-top: 50px;
    font-size: 37px;
  }
  .introduce_second {
    font-size: 37px;
  }
}


  

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* .main_team { 
    
} */

.main_team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 16px;
  justify-content: center;
}

/* 애니메이션 */
.main_team .main_card_team {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main_body {
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.main_body p {
  font-family: 'TheJamsil5Bold';
  font-size: 28px;
  font-weight: bold;
  color: #3468b2;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.main_body a {
  font-family: 'TheJamsil5Bold';
  display: block; /* a태그를 블록 요소로 설정하여 너비를 부여합니다. */
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: gray;
}
.main_body a::after{
  content: '>>';
}
.main_body a:hover::after{
  content: '>>';
  display: inline-block;
  animation: bounce 0.5s infinite alternate;
  animation-direction: alternate;
}
.main_body a:visited{
  color: gray;
}

@keyframes bounce {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}